@import "Theme/color.scss";
@import "Theme/mixin.scss";



.login-form {
  position: fixed;
  top: 7rem;
  z-index: -1;
  width: 100%;
  transition: background-color 2s ease;
  @include for-tablet-portrait {
    height: calc(100vh - 7rem);
    overflow: scroll;
  }

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 1rem;
  }
  &__heading {
    padding: 0rem 5rem;
  }
  &__slider {
    width: 70rem;
    @include for-laptop {
      width: 55rem;
    }
    @include for-phone {
      width: 70rem;
    }
    @include for-small-phone {
      width: 45rem;
    }
  }
  &__list {
    height: 6rem;
    @include for-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    & li {
      @include for-phone {
        padding: 0rem 5rem;
      }
    }
  }
  &__item {
    @include for-phone {
      padding: 0rem 5rem;
      height: 4rem;
    }

    position: relative;
    &:last-child {
      list-style-type: none;
    }
    &::before {
      @include for-tablet-portrait {
        height: 1px;
        width: 80%;
      }

      transition: all 0.2s ease;
      transform-origin: center;
      content: "";
      position: absolute;
      top: 88%;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      background-color: $purple-1;
      height: 3px;
    }

    &--active::before {
      transform: scaleX(1);
    }
  }

  &__container {
    @include for-laptop {
      padding-bottom: 2rem;
      grid-template-columns: 55rem minmax(1rem, 10rem) auto;
    }
    @include for-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0rem 5rem;
    }
    @include for-small-phone {
      padding: 0rem 1rem;
    }
    display: grid;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $white-2;
    grid-template-columns: 70rem minmax(3rem, 30rem) auto;

    align-items: center;
    font-size: 1.4rem;
    color: $gray-3;
    justify-items: start;
    &__left {
      width: 100%;
    }
    &__right {
      padding-bottom: 2rem;
    }
  }

  &__footer {
    @include for-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0rem 5rem;
      border-bottom: 1px solid $gray-2;
      padding-bottom: 2rem;
    }
    flex-grow: 2;
    background-color: #fff;
    justify-content: space-between;
    &__item {
      @include for-phone {
        border-bottom: 1px solid $gray-2;
        width: 100%;
        justify-content: flex-start;
        height: 4rem;
      }
      color: $gray-3;
      font-size: 1.5rem;
      transition: all 0.2s ease;
      & svg {
        height: 4rem;
        width: 4rem;
        margin-right: 1rem;
        @include for-phone {
          height: 3rem;
          width: 3rem;
        }
      }
      &:hover {
        color: $purple-1;
        fill: $purple-1;
      }
    }
  }
}
