@import "Theme/color.scss";

.username-form {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  background-color: $white-1;
  margin: 3rem 3rem;
  &__input {
    width: 100%;
    background-color: transparent;
    padding-top: 3rem;
    padding-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $gray-1;
  }
  &__input[value=""] ~ &__label {
    transform: scale(1);
    top: 25px;
    left: 0px;
    color: $gray-1;
  }
  &__input:focus ~ &__label--custom {
    transition: all 0.2s;
    position: absolute;
    transform: scale(0.7);
    top: 0;
    left: -12px;
    color: $purple-1;
  }
  &__label--custom {
    transition: all 0.2s;
    position: absolute;
    transform: scale(0.7);
    top: 0;
    left: -12px;
    color: $purple-1;
  }
  &__control {
    display: flex;
    margin-bottom: 3rem;
  }
  &__group {
    flex: 2;

    position: relative;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__label__checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 4rem;
  }
  &__label__checkbox:hover &__checkbox__mark {
    border: 2px solid $gray-1;
  }
  &__link {
    text-decoration: none;
    color: $purple-1;
    letter-spacing: 1px;
    &:hover {
      font-weight: 400;
      color: $purple-2;
    }
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ &__mark::after {
      left: 9px;
      top: 4px;
      width: 7px;
      height: 16px;
      border: solid $gray-3;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    &__mark {
      position: absolute;
      top: -3px;
      left: 0;
      height: 3rem;
      width: 3rem;
      border: 2px solid $gray-2;
      background-color: $white-1;
      &:after {
        transition: width 0.2s, height 0.2s;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
      }
    }
  }
}
