@import "Theme/color.scss";
@import "Theme/mixin.scss";

.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  @include for-tablet-portrait {
    width: 70%;
  }
  &-contain {
    padding: 0.3rem 2rem;
    height: 6rem;
    transition: 2s ease;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    @include for-tablet-portrait {
      width: 100%;
    }
  }

  &:hover &-input {
    transition: all 0.2s ease;
    width: 33rem; /* 25 - 7 */
    @include for-tablet-portrait {
      width: 100%;
    }
  }
  &:hover &-icon {
    transition: all 0.2s ease;
    fill: $purple-1;
  }
  &:hover &-button {
    transition: all 0.2s ease;
    transform: rotate(90deg);
  }
  &-input:focus {
    transition: all 0.2s ease;
    width: 32rem; /* 25 - 7 -1 */
    @include for-tablet-portrait {
      width: 100%;
    }
    border-bottom: 2px solid $purple-1;
  }

  &-input {
    transition: all 0.2s ease;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    height: 3rem;
    font-size: 1.8rem;
    background: none;
    width: 15rem;
    @include for-tablet-portrait {
      width: 100%;
    }
  }
  &-button {
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-icon {
    transition: all 0.2s ease;
    height: 2.5rem;
    width: 2.5rem;
  }
  &-input:focus &-icon {
    fill: $purple-1;
  }
}
