@import "Theme/mixin.scss";

.container {
  padding: 0 10rem;

  @include for-big-desktop {
    padding: 0 7rem;
  }
  @include for-desktop {
    padding: 0 5rem;
  }
  @include for-tablet-portrait {
    padding: 0 4rem;
  }
  @include for-phone {
    padding: 0 1rem;
  }
}
