@import "Theme/color.scss";

.menu {
  position: fixed;
  top: 7rem;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 15px 0;
  transition: background-color 2s ease;

  &__container {
    background-color: rgba(0, 0, 0, 0.62);
  }
  &__list {
    flex-wrap: wrap;
  }
  &__item {
    height: 8rem;
    padding: 1rem 1rem;
    padding-right: 4rem;
    font-size: 1.5rem;
    display: flex;
    color: $gray-1;
    align-items: center;
    transition: all 0.3s ease;
    &:hover {
      color: $purple-1;
      font-weight: bold;
      cursor: pointer;
    }
    &:hover > &__icon {
      fill: $purple-1;
    }
  }

  &__icon {
    transition: all 0.3s ease;
    height: 4rem;
    width: 4rem;
    fill: $gray-1;
    padding-right: 1rem;
    transition: all 0.3s ease;
    width: 6rem;
    padding-right: 1.5rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
    &__item {
      padding: 4rem 3rem;
      font-size: 2.1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      color: $gray-3;
    }
    &__item:hover {
      color: $purple-1;
      cursor: pointer;
    }
    &__item:hover > &-icon {
      fill: $purple-1;
    }
    &__icon {
      transition: all 0.3s ease;
      width: 6rem;
      padding-right: 1.5rem;
    }
  }
}
