@import "Theme/color.scss";
.navbar {
  &-icon {
    height: 3.3rem;
    color: $purple-1;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }
  &-item {
    color: $purple-1;
  }
  &-span {
    font-size: 1.5rem;
    transition: all 0.2s ease;
    transform: translateX(-100%);
    color: transparent;
    &--show {
      transition: all 0.3s ease;
      transform: translateX(10%);
      color: $purple-1;
    }
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      height: 100%;
    }
    & li {
      padding-left: 1.5rem;
      cursor: pointer;
    }
    & li:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  &-brand {
    height: 4.5rem;
    width: 12rem;
    fill: $purple-1;
  }
}
