@import "Theme/color.scss";
@import "Theme/mixin.scss";

.navbar {
  &__brand {
    height: 4.5rem;
    width: 12rem;
    fill: $purple-1;
  }
  &__icon {
    height: 2.6rem;
    color: $purple-1;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    fill: $purple-1;
  }
  &__item {
    &__text {
      @include for-tablet-portrait {
        display: none;
      }
    }
    @include for-tablet-portrait {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    color: $purple-1;
    position: relative;
    font-size: 1.6rem;
    &::before {
      transition: all 0.5s;
      transform-origin: center;
      position: absolute;
      content: "";
      top: calc(100% - 3px);
      left: 0;
      height: 3px;
      background-color: $purple-1;
      width: 100%;
      transform: scaleX(0);
    }
    &--active::before {
      transform: scaleX(1);
    }
  }
  &__span {
    font-size: 1.5rem;
    transition: all 0.2s ease;
    transform: translateX(-100%);
    color: transparent;
    &--show {
      transition: all 0.3s ease;
      transform: translateX(10%);
      color: $purple-1;
    }
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      height: 100%;
    }
    & li {
      padding-left: 1.5rem;
      cursor: pointer;
    }
    & li:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
