@import "Theme/color.scss";
@import "Theme/shadow.scss";

.navbar {

  padding: 0rem 10rem;
  display: flex;
  box-shadow: $box-shadow-1;
  &-icon {
    height: 3.3rem;
    color: $heading-color-1;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }
  & .right {
    margin-left: auto;
  }
  &-list {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
    &-back {
      font-size: 1.5rem;
      transition: all 0.2s ease;
      transform: translateX(-100%);
      color: transparent;
      & ul {
        list-style: none;
        display: flex;
      }
      & li {
        padding-left: 1.5rem;
        cursor: pointer;
      }
      & li:hover {
        text-decoration: underline;
        font-weight: 700;
      }
    }
    &-back--show {
      transition: all 0.3s ease;
      transform: translateX(10%);
      color: $heading-color-1;
    }
  }

  &-item {
    transition: all 0.2s ease;
    height: 7rem;
    margin: 0 1rem;
    width: 14rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $heading-color-1;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transform: skewY(-2deg);
    }
  }
  &-item:not(:last-child) {
    margin-right: 2rem;
  }
  &-brand {
    height: 4.5rem;
    width: 12rem;
    fill: $heading-color-1;
  }
}
