@import "Theme/color.scss";
@import "Theme/mixin.scss";

.header {
  height: 55rem;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 55rem;
    width: 100%;
    z-index: -10;
  }

  &__icon {
    position: absolute;
    top: 10%;
    right: 15%;
    &__background {
      z-index: 5;
      width: 500px;
      @include for-phone {
        width: 300px;
      }
      @include for-small-phone {
        width: 250px;
      }
    }
  }
  &__content {
    padding: 0rem 10rem;
    z-index: 10;
  }
  &-heading-1 {
    font-size: 6rem;
  }
  &-heading-5 {
    font-size: 3rem;
  }
}
