@import "Theme/color.scss";

.navbar {
  padding: 0rem 10rem;
  display: flex;
  &-icon {
    height: 3.3rem;
    color: $heading-color-1;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }
  & .right {
    margin-left: auto;
  }
  &-list {
    height: 7rem;
    display: flex;
    list-style: none;
    align-items: center;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $heading-color-1;
    font-weight: bold;
    cursor: pointer;
  }
  &-item:not(:last-child) {
    padding-right: 2rem;
  }
  &-brand {
    height: 4.5rem;
    width: 12rem;
    fill: $heading-color-1;
  }
}
