@import "Theme/shadow.scss";

.nav {
  display: flex;
  align-items: center;
  width: 100%;

  & .right {
    margin-left: auto;
  }
  & .left {
    margin-right: auto;
  }
  &-list {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
  }

  &-item,
  &-link {
    transition: all 0.2s ease;
    height: 7rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
  }
  &-item:not(:last-child) {
    margin-right: 7rem;
  }
}
