@import "Theme/shadow.scss";

.nav {
  padding: 0rem 10rem;
  display: flex;

  & .right {
    margin-left: auto;
  }
  & .left {
    margin-right: auto;
  }
  &-list {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
  }

  &-item,
  &-link {
    transition: all 0.2s ease;
    height: 7rem;
    margin: 0 1rem;
    width: 14rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transform: skewY(-2deg);
    }
  }
  &-item:not(:last-child) {
    margin-right: 2rem;
  }
  &-link:not(:last-child) {
    margin-right: 2rem;
  }
}
