@import "Theme/mixin.scss";

.navbar {
  &__container {
    &--fixed {
      @include for-phone {
      }
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 20;
      background-color: #fff;
    }
  }
  &__background {
    transition: 1000ms all ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
